{
  "presets": ["es2015", "stage-0", "react"],

  "plugins": [
    "transform-runtime",
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-class-properties"
  ],

  "env": {
    "development": {
      "plugins": [
      ]
    }
  }
}
